body {
  width: 100%;
  *zoom: 1;
}
body:before,
body:after {
  content: "";
  display: table;
}
body:after {
  clear: both;
}
body:after {
  clear: both;
  content: ' ';
  display: table;
}
*,
*:before,
*:after {
  box-sizing: border-box;
}
html,
body {
  height: 100%;
}
body {
  background-color: #eee;
  color: #222222;
  font: 400 16px/1.5 Montserrat, 'Helvetica Nueue', sans-serif;
  padding: 1em;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 400;
  margin: 0;
}
a:link,
a:visited {
  color: #4da5ff;
  text-decoration: none;
}
a:hover,
a:active,
a:focus {
  color: #007fff;
  outline: 0 none;
  text-decoration: none;
}
.vc:before {
  content: '';
  display: inline-block;
  height: 100%;
  margin-right: -0.25em;
  vertical-align: middle;
}
.vc > .panel {
  display: inline-block;
  vertical-align: middle;
}
.clearfix:after {
  clear: both;
  content: ' ';
  display: table;
}
.error {
  color: #ff0100;
}
.info {
  color: #00ffff;
}
.warning {
  color: #ff8000;
}
.success {
  color: #7fff00;
}
.em {
  font-family: 'Roboto Condensed', sans-serif;
  font-style: italic;
}
.container {
  *zoom: 1;
  background-color: #fff;
  border: 2px solid #e1e1e1;
  margin: 0 auto 3em;
  max-width: 64em;
  min-height: 100em;
  padding: 0 2em;
  position: relative;
}
.container:before,
.container:after {
  content: "";
  display: table;
}
.container:after {
  clear: both;
}
.container:after {
  clear: both;
  content: ' ';
  display: table;
}
.section {
  *zoom: 1;
  border-bottom: 1px dotted #777777;
}
.section:before,
.section:after {
  content: "";
  display: table;
}
.section:after {
  clear: both;
}
.section:after {
  clear: both;
  content: ' ';
  display: table;
}
.section > h3 {
  font-size: 80%;
  line-height: 3;
  text-transform: uppercase;
}
.spec {
  border-top: 2px solid #222222;
  border-bottom: 3px double #222222;
  font: 400 80%/3 'Roboto Slab', sans-serif;
  margin: 2em 0;
  position: relative;
}
.spec .btn {
  cursor: pointer;
  float: right;
}
.spec .btn .fa-circle {
  color: #222222;
}
.spec .btn .description {
  display: none;
}
.spec .btn:hover .fa-circle {
  color: #4da5ff;
}
.spec .btn:hover .fa-print {
  color: #fff;
}
.spec .btn:hover .description {
  display: block;
  position: absolute;
  top: 100%;
  right: 0;
}
.basics {
  padding-bottom: 2em;
}
.basics .name {
  float: left;
  font-size: 6em;
  line-height: .75;
  transition: .75s all ease;
}
.basics .name:hover {
  color: #007fff;
  cursor: pointer;
  transition: 5s all ease;
}
.basics .title {
  clear: left;
  color: #222222;
  font: 300 2em/1.5 'Roboto Slab', sans-serif;
}
.basics .title small {
  color: #777777;
  text-transform: none;
}
.basics .title strong {
  color: #4da5ff;
  text-transform: uppercase;
}
.contact h3,
.availability h3 {
  float: left;
}
.contact .content,
.availability .content {
  float: right;
  text-align: right;
}
.contact p,
.availability p {
  display: inline-block;
  font: 300 80%/3 'Roboto Condensed', sans-serif;
  margin: 0 0 0 2.5em;
  min-width: 8em;
}
.contact a,
.availability a {
  border-bottom: 1px dotted #4da5ff;
  color: #222222;
}
.contact a:hover,
.availability a:hover {
  border-bottom: 1px dotted #007fff;
  color: #007fff;
}
.contact .fa-stack-2x.fa-circle,
.availability .fa-stack-2x.fa-circle {
  color: #4da5ff;
}
.availability .label {
  font-weight: 700;
}
.hook {
  *zoom: 1;
  font-family: 'Roboto Condensed', sans-serif;
  font-style: italic;
  color: #777777;
  font-size: 1.5em;
  margin: 0;
  padding: 1em 0;
  text-align: center;
  transition: .25s all ease;
}
.hook:before,
.hook:after {
  content: "";
  display: table;
}
.hook:after {
  clear: both;
}
.hook:after {
  clear: both;
  content: ' ';
  display: table;
}
.hook:hover {
  color: #007fff;
}
.contact,
.languages,
.experience,
.education {
  border-top: 2px solid #222222;
}
.availability,
.os,
.experience,
.education {
  border-bottom: 3px double #222222;
}
.skill-list {
  display: block;
  width: 980px;
  margin: 0 -10px;
  *zoom: 1;
  list-style-type: none;
  padding: 0 0 1em 0;
}
.skill-list:before,
.skill-list:after {
  content: "";
  display: table;
}
.skill-list:after {
  clear: both;
}
.skill-list:after {
  clear: both;
  content: ' ';
  display: table;
}
.skill-list li {
  display: inline;
  float: left;
  width: 220px;
  margin: 0 10px;
  font-family: 'Roboto Slab';
  margin-bottom: .5em;
  transition: .25s all ease;
}
.skill-list li:before {
  color: #4da5ff;
  content: "\f005";
  float: right;
  font-family: FontAwesome;
}
.skill-list li:hover {
  cursor: pointer;
  padding-right: 3em;
}
.skill-list li.expert:before {
  color: #007fff;
  content: "\f005 \f005 \f005 \f005 \f005";
}
.skill-list li.strong:before {
  content: "\f005 \f005 \f005 \f005";
}
.skill-list li.intermediate:before {
  color: #89c4ff;
  content: "\f005 \f005 \f005";
}
.experience-list {
  display: block;
  width: 980px;
  margin: 0 -10px;
  *zoom: 1;
  list-style-type: none;
  padding: 0 0 1em 0;
}
.experience-list:before,
.experience-list:after {
  content: "";
  display: table;
}
.experience-list:after {
  clear: both;
}
.experience-list:after {
  clear: both;
  content: ' ';
  display: table;
}
.experience-list .experience-item {
  display: inline;
  float: left;
  width: 460px;
  margin: 0 10px;
  font-family: 'Roboto Slab';
  margin-bottom: 1em;
}
.experience-list .experience-header {
  *zoom: 1;
}
.experience-list .experience-header:before,
.experience-list .experience-header:after {
  content: "";
  display: table;
}
.experience-list .experience-header:after {
  clear: both;
}
.experience-list .experience-header:after {
  clear: both;
  content: ' ';
  display: table;
}
.experience-list .experience-header .company {
  float: left;
}
.experience-list .experience-header .duration {
  color: #007fff;
  float: right;
  margin: 0;
}
.experience-list .highlights {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.experience-list .highlights .position {
  font: 300 italic 100%/2 'Roboto Condensed';
}
.experience-list .highlights .highlight {
  font: 400 80%/2 'Montserrat';
}
.experience-list .highlights .highlight:before {
  color: #4da5ff;
  content: "\f0da";
  font-family: FontAwesome;
  margin: 0 .25em;
}
.experience-list .highlights .technologies {
  color: #777777;
  font-size: 80%;
}
.education {
  padding-bottom: 2em;
}
.education .content {
  display: block;
  width: 980px;
  margin: 0 -10px;
  *zoom: 1;
}
.education .content:before,
.education .content:after {
  content: "";
  display: table;
}
.education .content:after {
  clear: both;
}
.education .content:after {
  clear: both;
  content: ' ';
  display: table;
}
.education .education-item {
  display: inline;
  float: left;
  width: 460px;
  margin: 0 10px;
  font-family: 'Roboto Slab';
}
.education .education-item .duration {
  color: #007fff;
  float: right;
  margin: 0;
}
.education .education-item .study {
  font: 300 italic 100%/2 'Roboto Condensed';
  margin: 0;
}
.dialog {
  background-color: rgba(255, 255, 255, 0.75);
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: 10;
  text-align: center;
  transition: .25s all ease;
}
.dialog:before {
  content: '';
  display: inline-block;
  height: 100%;
  margin-right: -0.25em;
  vertical-align: middle;
}
.dialog > .panel {
  display: inline-block;
  vertical-align: middle;
}
.dialog.hidden {
  opacity: 0;
  z-index: -10;
}
.dialog.hidden .form {
  margin-top: -300%;
}
.form {
  background-color: #fff;
  border: 2px solid #e1e1e1;
  min-width: 32em;
  padding: 1em;
  text-align: left;
  transition: .5s margin ease;
}
.form .title {
  color: #007fff;
}
.form .help {
  border: 1px solid #e1e1e1;
  border-top-width: 0;
  color: #777777;
  font-size: 80%;
  margin: 0 0 .5em;
  padding: .25em .5em;
}
.form input,
.form textarea {
  border: 1px solid #e1e1e1;
  display: block;
  font-family: 'Roboto Slab';
  line-height: 2;
  margin: .5em 0;
  padding: 0 .5em;
  width: 60%;
}
.form input:focus,
.form textarea:focus {
  border-color: #4da5ff;
}
.form textarea {
  line-height: 1;
  margin-bottom: 0;
  min-height: 11em;
  padding: .5em;
  resize: none;
  width: 100%;
}
.form button {
  border: 1px solid #499df2;
  background-color: #4da5ff;
  color: #fff;
  float: right;
  line-height: 2;
  margin-left: 1em;
  transition: .25s all ease;
  width: 25%;
}
.form button:hover {
  background-color: #007fff;
}
.form button:focus {
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.75);
}
.form .btn-clear {
  background-color: #eee;
  border-color: #d6d6d6;
  color: #222222;
}
.form .btn-clear:hover {
  background-color: #fff;
  border-color: #eee;
}
.footer {
  font-family: 'Roboto Condensed', sans-serif;
  font-style: italic;
  font-size: 80%;
  line-height: 2;
  margin: 1em 0 0;
  text-align: center;
}
.humane {
  background-color: #fff;
  border: 2px solid #e1e1e1;
  border-top-width: 0;
  color: #444;
  cursor: default;
  font: 400 1em/2 Montserrat, sans-serif;
  font-size: 16px;
  position: fixed;
  top: 0;
  left: 30%;
  z-index: 10000;
  opacity: 0;
  padding: 0 1em;
  text-align: center;
  transition: all 0.4s ease-in-out;
  width: 40%;
}
.humane p,
.humane ul {
  margin: 0;
  padding: 0;
}
.humane ul {
  list-style-type: none;
}
.humane.info {
  background-color: #f2ffff;
  border-color: #bfffff;
  color: #00bfbf;
}
.humane.warning {
  background-color: #fff9f2;
  border-color: #ffdfbf;
  color: #bf6000;
}
.humane.error {
  background-color: #fff2f2;
  border-color: #ffc0bf;
  color: #bf0100;
}
.humane.success {
  background-color: #f9fff2;
  border-color: #dfffbf;
  color: #5fbf00;
}
.humane-animate,
.humane-js-animate {
  opacity: 1;
  -moz-transform: translateY(0);
  -webkit-transform: translateY(0);
  -ms-transform: translateY(0);
  -o-transform: translateY(0);
  transform: translateY(0);
}
.humane-animate:hover,
.humane-js-animate:hover {
  opacity: 0.7;
}
