@import "grid.less";

@body-text: #222;
@body-text-light: #777;
@gray-light: #ddd;
@primary: #007fff;
@primary-light: #4da5ff;
@primary-lighter: #89c4ff;

@error: #ff0100;
@info: #00ffff;
@warning: #ff8000;
@success: #7fff00;

*, *:before, *:after {
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

body {
    background-color: #eee;
    color: @body-text;
    font: 400 16px/1.5 Montserrat, 'Helvetica Nueue', sans-serif;
    padding: 1em;
}

h1, h2, h3, h4, h5, h6 { 
    font-weight: 400;
    margin: 0;
}

a:link, a:visited {
    color: @primary-light;
    text-decoration: none;
}

a:hover, a:active, a:focus {
    color: @primary;
    outline: 0 none;
    text-decoration: none;
}

.vc {
    &:before {
        content: '';
        display: inline-block;
        height: 100%;
        margin-right: -0.25em;
        vertical-align: middle;
    }
    > .panel {
        display: inline-block;
        vertical-align: middle;
    }
}

.clearfix {
    &:after {
        clear: both;
        content: ' ';
        display: table;
    }
}

.ph(@color: #ccc) {
    input::-webkit-input-placeholder { color: @color; }
    input:-moz-placeholder { color: @color; }
    textarea::-webkit-input-placeholder { color: @color; }
    textarea:-moz-placeholder { color: @color; }
}

.error {
    color: @error;
}

.info {
    color: @info;
}

.warning {
    color: @warning;
}

.success {
    color: @success;
}


.em {
    font-family: 'Roboto Condensed', sans-serif;
    font-style: italic;
}

.container {
    .clearfix();
    background-color: #fff;
    border: 2px solid #e1e1e1;
    margin: 0 auto 3em;
    max-width: 64em;
    min-height: 100em;
    padding: 0 2em;
    position: relative;
}

.section {
    .clearfix();
    border-bottom: 1px dotted @body-text-light;
    > h3 {
        font-size: 80%;
        line-height: 3;
        text-transform: uppercase;
    }
}

.spec {
    border-top: 2px solid @body-text;
    border-bottom: 3px double @body-text;
    font: 400 80%/3 'Roboto Slab', sans-serif;
    margin: 2em 0;
    position: relative;

    .btn {
        cursor: pointer;
        float: right;
        .fa-circle {
            color: @body-text;
        }
        .description {
            display: none;
        }
        &:hover {
            .fa-circle {
                color: @primary-light;
            }
            .fa-print {
                color: #fff;
            }
            .description {
                display: block;
                position: absolute;
                top: 100%;
                right: 0;
            }
        }
    }
}

.basics {
    padding-bottom: 2em;

    .name {
        float: left;
        font-size: 6em;
        line-height: .75;
        transition: .75s all ease;
        &:hover {
            color: @primary;
            cursor: pointer;
            transition: 5s all ease;
        }
    }

    .title {
        clear: left;
        color: @body-text;
        font: 300 2em/1.5 'Roboto Slab', sans-serif;
        small {
            color: @body-text-light;
            text-transform: none;
        }
        strong {
            color: @primary-light;
            text-transform: uppercase;
        }
    }
}

.contact, .availability {
    h3 {
        float: left;
    }
    .content {
        float: right;
        text-align: right;
    }
    p {
        display: inline-block;
        font: 300 80%/3 'Roboto Condensed', sans-serif;
        margin: 0 0 0 2.5em;
        min-width: 8em;
    }
    a {
        border-bottom: 1px dotted @primary-light;
        color: @body-text;
        &:hover {
            border-bottom: 1px dotted @primary;
            color: @primary;
        }
    }

    .fa-stack-2x.fa-circle {
        color: @primary-light;
    }
}

.availability {
    .label {
        font-weight: 700;
    }
}

.hook {
    .clearfix();
    .em();
    color: @body-text-light;
    font-size: 1.5em;
    margin: 0;
    padding: 1em 0;
    text-align: center;    
    transition: .25s all ease;


    &:hover {
        color: @primary;
    }
}

.contact, .languages, .experience, .education {
    border-top: 2px solid @body-text;
}

.availability, .os, .experience, .education {
    border-bottom: 3px double @body-text;
}

.skill-list {
    .row();
    list-style-type: none;
    padding: 0 0 1em 0;
    li {
        .column(3);
        font-family: 'Roboto Slab';
        margin-bottom: .5em;
        transition: .25s all ease;


        &:before {
            color: @primary-light;
            content: "\f005";
            float: right;
            font-family: FontAwesome;
        }
        &:hover {
            cursor: pointer;
            padding-right: 3em;
        }
        &.expert:before {
            color: @primary;
            content: "\f005 \f005 \f005 \f005 \f005";
        }
        &.strong:before {
            content: "\f005 \f005 \f005 \f005";
        }
        &.intermediate:before {
            color: @primary-lighter;
            content: "\f005 \f005 \f005";
        }
    }
}

.experience-list {
    .row();
    list-style-type: none;
    padding: 0 0 1em 0;

    .experience-item {
        .column(6);
        font-family: 'Roboto Slab';
        margin-bottom: 1em;
    }

    .experience-header {
        .clearfix();
        .company {
            float: left;
        }
        .duration {
            color: @primary;
            float: right;
            margin: 0;
        }
    }

    .highlights {
        list-style-type: none;
        margin: 0;
        padding: 0;

        .position {
            font: 300 italic 100%/2 'Roboto Condensed';
        }

        .highlight {
            font: 400 80%/2 'Montserrat';
            &:before {
                color: @primary-light;
                content: "\f0da";
                font-family: FontAwesome;
                margin: 0 .25em;
            }
        }

        .technologies {
            color: @body-text-light;
            font-size: 80%;
        }
    }
}

.education {
    padding-bottom: 2em;

    .content {
        .row();
    }
    .education-item {
        .column(6);
        font-family: 'Roboto Slab';

        .duration {
            color: @primary;
            float: right;
            margin: 0;
        }

        .study {
            font: 300 italic 100%/2 'Roboto Condensed';
            margin: 0;
        }
    }
}

.dialog {
    .vc();
    background-color: rgba(255,255,255,.75);
    position: fixed;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        z-index: 10;
    text-align: center;
    transition: .25s all ease;

    &.hidden {
        opacity: 0;
        z-index: -10;
        .form {
            margin-top: -300%;
        }
    }
}

.form {
    background-color: #fff;
    border: 2px solid #e1e1e1;
    min-width: 32em;
    padding: 1em;
    text-align: left;
    transition: .5s margin ease;

    .title {
        color: @primary;
    }

    .help {
        border: 1px solid #e1e1e1;
        border-top-width: 0;
        color: @body-text-light;
        font-size: 80%;
        margin: 0 0 .5em;
        padding: .25em .5em;
    }

    input, textarea {
        border: 1px solid #e1e1e1;
        display: block;
        font-family: 'Roboto Slab';
        line-height: 2;
        margin: .5em 0;
        padding: 0 .5em;
        width: 60%;

        &:focus {
            border-color: @primary-light;
        }
    }

    textarea {
        line-height: 1;
        margin-bottom: 0;
        min-height: 11em;
        padding: .5em;
        resize: none;
        width: 100%;
    }

    button {
        border: 1px solid shade(@primary-light, 5);
        background-color: @primary-light;
        color: #fff;
        float: right;
        line-height: 2;
        margin-left: 1em;
        transition: .25s all ease;
        width: 25%;

        &:hover {
            background-color: @primary;
        }

        &:focus {
            box-shadow: inset 0 1px 0 rgba(255,255,255,.75);
        }
    }

    .btn-clear {
        background-color: #eee;
        border-color: shade(#eee, 10);
        color: @body-text;

        &:hover {
            background-color: #fff;
            border-color: #eee;
        }
    }
}

.footer {
    .em();
    font-size: 80%;
    line-height: 2;
    margin: 1em 0 0;
    text-align: center;
}

.humane {
    background-color: #fff;
    border: 2px solid #e1e1e1;
    border-top-width: 0;
    color: #444;
    cursor: default;
    font: 400 1em/2 Montserrat, sans-serif;
    font-size: 16px;
    position: fixed;
        top: 0;
        left: 30%;
        z-index: 10000;
    opacity: 0;
    padding: 0 1em;
    text-align: center;
    transition: all 0.4s ease-in-out;
    width: 40%;

    p, ul {
        margin: 0;
        padding: 0;
    }

    ul {
        list-style-type: none;
    }

    &.info {
        background-color: tint(@info, 95);
        border-color: tint(@info, 75);
        color: shade(@info, 25);
    }

    &.warning {
        background-color: tint(@warning, 95);
        border-color: tint(@warning, 75);
        color: shade(@warning, 25);
    }

    &.error {
        background-color: tint(@error, 95);
        border-color: tint(@error, 75);
        color: shade(@error, 25);
    }

    &.success {
        background-color: tint(@success, 95);
        border-color: tint(@success, 75);
        color: shade(@success, 25);
    }
}

.humane-animate,
.humane-js-animate {
    opacity: 1;
    -moz-transform: translateY(0);
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0);

    &:hover {
        opacity: 0.7;
    }
}
